body{
    background-color: rgb(212 212 210);
    font-family:'Roboto', sans-serif;
    padding: 5px;
}
.products_car{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: rgb(138,22,54);
    background: linear-gradient(90deg, rgba(138,22,54,1) 0%, rgba(176,45,142,1) 48%, rgba(70,20,145,1) 100%);
    /* mientras */
    height: 450px;
    border-radius: 15px;
    margin-top: 5px;
    padding: 15px;
    max-width: calc(100% - 30px);
}